/* My name is Troy Fulton, and I take credit for very little of this
code. I stole most of it from the Internet. */

/* Colors */

.aggie-maroon {
    background-color:silver;
    color:maroon !important;
}

.aggie-white, .dropdown-item:hover, .nav-link:hover, .btn:hover {
    background-color:maroon;
    color:silver !important;
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.ti-button:hover {
    background-color:red !important;
    color:white !important;
    box-shadow: none;
}
.lockheed-button:hover {
    background-color:blue !important;
    color:silver !important;
    box-shadow: none;
}

/* Navbar improvement */

.navbar {
    background-color:silver !important;
}
.dropdown-menu {
    background-color:silver;
}
.dropdown-item {
    text-align: center;
}

/* Spacing */

/* Special button growing property */
.container .btn:hover {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.container .btn:hover, .container .btn:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-image: linear-gradient(to right top, silver 0%, maroon 50%, silver 100%); 
  color: white;
}


.title {
    margin-top: 2%;
}

.centered-item {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.wide-10 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.wide-5 {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.wide-25 {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.space-top {
    margin-top: 5%;
}
.space-bottom {
    margin-bottom: 5%;
}
.space-left {
    margin-left: 5%;
}
.space-right {
    margin-right: 5%;
}
.space-x {
    margin: 5%;
}

/* Pictures */

.centered-photo {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.stretchy {
    max-width: 100%;
    max-height: 100%;
}

/* For making the footer stay at the bottom: */

/* Resume object */
object {
    display: block;
    margin: 0 auto;
}

/* General */

div.container a {
    color: maroon;
    font-weight: bold;
}

img {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}