body {
    background-color: #f0ede5;
}
{
    font-family: "Georgia";
    font-size: 30px;
}
h2.indent {
    text-indent: 5%;
}
p.indent {
    text-indent: 5%;
}
.pic_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}