body {
    background-image: url("wood.jpg");
}
{
    font-family: "Georgia";
    font-size: 30px;
}
h2.indent {
    text-indent: 5%;
}
p.indent {
    text-indent: 5%;
}
img.pic_center {
    margin-left: 35%;
}
body.background {
    opacity: 0.5;
}
ol {
    list-style-type: none;
    float: left;
    position: fixed;
    margin: 0;
    padding: 0;
}
li.pad {
    padding-left: 20px;
}
li.doublepad {
    padding-left: 40px;
}
a {
    text-decoration: none;
    color: maroon;
    font-weight: bold;
}
p {
    display: block;
}
p.footer {
    bottom: 0px;
}
p.middleparagraph {
    margin-left: 25%;
}
}